* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Open Sans', sans-serif;
}

input,
button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 94, 202);
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section>h2 {
    text-align: center;
    color: rgb(36, 94, 202);
}

.input_section>form>.input {
    margin: 8px 0;
}

.input_section>form>button {
    background-color: rgb(36, 94, 202);
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section>form>button>span {
    font-weight: bold;
}

.input_section>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input_section>form>.input>label {
    color: rgb(36, 94, 202);
    font-weight: bold;
}

.input_section>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section>form>.input_inline>label {
    color: rgb(36, 94, 202);
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section>h2 {
    color: rgb(36, 94, 202);
}

.search_section>form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 10px;
}

.search_section>form>label {
    display: flex;
    align-items: center;
}

.search_section>form>input {
    padding: 5px;
    border-radius: 5px;
}

.search_section>form>button {
    background-color: rgb(36, 94, 202);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.search_section>form>button:hover,
.input_section>form>button:hover {
    background-color: rgb(68, 115, 202);
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf>h2 {
    color: rgb(36, 94, 202);
}

.book_shelf>.book_list {
    padding: 16px;
}

.book_shelf>.book_list>.book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf>.book_list>.book_item>h3,
p {
    margin: 8px 0;
}

.book_shelf>.book_list>.book_item>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf>.book_list>.book_item>.action>.green {
    padding: 7px 24px;
    background-color: rgb(21, 165, 21);
    color: white;
    transition: .3s;
}

.book_shelf>.book_list>.book_item>.action>.green:hover {
    background-color: rgb(28, 219, 28);
    color: rgb(19, 18, 18);
}

.book_shelf>.book_list>.book_item>.action>.red {
    padding: 7px 24px;
    background-color: rgb(185, 45, 45);
    color: white;
    transition: .3s;
}

.book_shelf>.book_list>.book_item>.action>.red:hover {
    background-color: rgb(235, 80, 80);
    color: rgb(19, 18, 18);
}

.sukses {
    color: rgb(21, 165, 21) !important;
}

i {
    font-size: 1rem;
}